html
  head
    title= title
    script(src='/socket.io/socket.io.js')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="/public/style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  body   
    include mixins
    nav.navbar.navbar-inverse
       .container-fluid
         .navbar-header
          .navbar-brand Web Console
         ul.nav.navbar-nav
          li.active
             a(href="dashboard") Dashboard
         ul.nav.navbar-nav.navbar-right
          li
    block content
    include footer.pug
