<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width initial-scale=1.0'>
    <title></title>
    <link rel="stylesheet" href="/public/style.css" />
    
    <script src="/socket.io/socket.io.js"></script>
    <style>
        * { padding: 0; margin: 0; }
      </style>
  </head>
  <body onmouseup="stopMove()">
        <div id="name-entry">
                Enter name to join game: <input id="name" type="text"/><button onclick="join()" id="join">Join</button>
            </div>
      <div id="dpad" style = "display:none" onmouseup="stopMove()">
        
          
          
          <button class="dpad" id="up" onmousedown="moveup()" onmouseup="stopMove()" ontouchstart="moveup()">UP</button>
          <br>
          <button class="dpad" id="left" onmousedown="moveleft()" onmouseup="stopMove()" ontouchstart="moveleft()">LEFT</button>
          <button class="dpad" id="right" onmousedown="moveright()" onmouseup="stopMove()" ontouchstart="moveright()">RIGHT</button>
          <button class="dpad" id="right" style="float: right;" onmousedown="shoot()" onmouseup="stopshoot()" ontouchstart="shoot()" ontouchend="stopshoot()" >SHOOT</button>
          <br>
          <button class="dpad" id="down" onmousedown="movedown()" onmouseup="stopMove()" ontouchstart="movedown()">DOWN</button>
       </div>
      
  </body>
  <script src="/views/pages/controller.js"></script>
</html>
