<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width initial-scale=1.0'>
    <title></title>
    <link rel="stylesheet" href="/public/style.css" />
    
    <script src="/socket.io/socket.io.js"></script>
    <style>
        * { padding: 0; margin: 0; }
      </style>
  </head>
  <body>
      <div>
          <canvas id="myCanvas" width="480" height="320"></canvas>
       </div>
       <div id="joininput">
          Enter name to join game: <input id="name" type="text"/><button onclick="join()" id="join">Join</button>
      </div>
      <h3 style="text-decoration: underline">leaderboard</h3>
      <div id="leaderboard" >

      </div>
      
  </body>
  <script src="/views/pages/testgame.js"></script>
</html>
